@charset "UTF-8";

	body {
		border: solid 1px gray;
		width: 80%;
		margin: 0 auto;
	}
	
	div#container {
		border: solid 1px red;
		width: 80%;
		margin: 0 auto;
	}
	
	div#container > div#parent, 
	div#container > div#other {
		border: solid 2px green;
		margin: 10px;
	}
	
	div#container > div#parent {
		width: 50%;
		background-color: #ffcccc;
	}
	
	div#container  div.me {
	    position: fixed; 
    	top: 100px; 
		left: 100px; 
		background-color: yellow;
		width: 80%;
	 /* position: fixed; 이므로 width 를 주면 부모의 크기를 따라가는 것이 아니라 웹브라우저 크기의 80% 만큼 잡힌다. */  
	} 
	
	div#container > div.you {
	    position: fixed; 
    	top: 300px; 
		left: 200px; 
		background-color: cyan;
	 /* position: fixed; 이므로 width 를 설정하지 않으면 width 의 크기는 내용물의 크기 만큼 잡힌다. */  
	} 

/*
   엘리먼트에 CSS 속성으로 position을 지정하면 여러가지 방법으로 위치를 지정할 수 있다.

  - 고정위치(fixed positioning)
    position: fixed

        문서를 기준(웹브라우저 주소창 아래의 top 0px, left 0px 을 기준)으로 위치가 정해지기 때문에 부모 엘리먼트의 위치와는 무관하다.
        parent와의 관계는 완전히 사라지기 때문에 엘리먼트의 크기는 부모 엘리먼트의 크기에 영향을 받지 않는다.
		width 를 정해주지 않으면 width는 내용물의 크기만큼 잡힌다.
        중요한 것은 스크롤의 영향을 받지 않는다는 것이다.
    me는 절대위치와 동일한 성격을 갖지만, 화면을 스크롤해도 고정된 위치에 위치함 
*/		

