@charset "UTF-8";

body {
	border: solid 1px gray;
	width: 90%;
	margin: 0 auto;
}	

div.div_flex {
	border: solid 1px red;
	display: flex;
}

div.screen {
	border: solid 1px green; 
}

div.div_flex > div:nth-child(2) {
	border: solid 4px orange;
	margin: auto 0 0 0;
}

div#first_shark{
	width: 30%;	/* width: 30%; 고정 */
}

div#second_shark {
	min-width: 30%;	/* width: 최소30%; 고정 */
	/* 최소 width 가 30%이고 그 속에 들어오는 내용물의 크기가 30% 보다 크면 자동적으로 width 가 내용물의 width 크기만큼 증가 되어진다. */
}

div#third_shark {
	max-width: 30%;
	/* 초기 width 의 크기는 내용물의 크기만큼 잡혔다가 그 속에 들어오는 내용물의 크기만큼 
	   width 의 크기는 증가하다가 30% 보다 더 커지면 최대 크기는 더이상 증가하지 않고 30%가 
	   마지막이 된다. */
	   
	overflow: auto;
	/* max-width 크기보다 더 커져버리면 자동적으로 수평스크롤바를 생성해라는 말이다. */
}





































