@charset "UTF-8";

body > div#container {
	border: solid 0px red;
	width: 80%;
	margin: 3% auto 2% auto;
	padding: 2%;
}


body > div#container > form > fieldset > legend {
	font-size: 16pt;
	padding: 1%;
	font-weight: bold;
	background-color: #b3b3ff;
}

body > div#container > form > fieldset > ul {
	list-style-type: none;
	padding: 0;
}

body > div#container > form > fieldset > ul > li {
	line-height: 50px;
}

body > div#container > form > fieldset > ul > li > label:first-child {
	border: solid 0px blue;
	width: 10%;
	color: navy;
	font-size: 14pt;
	font-weight: bold;
	display: inline-block;
}



body > div#container > form > fieldset > ul > li > label.title {
	border: solid 0px blue;
	display: inline-block;
	width: 10%;
	color: navy;
	font-weight: bold;
	font-size: 14pt;
}

body > div#container > form > fieldset > ul > li > input.myinput {
	height: 30px;
}


body > div#container > form > fieldset > ul > li:nth-child(6) > label:nth-child(2),
body > div#container > form > fieldset > ul > li:nth-child(6) > label:nth-child(4),
body > div#container > form > fieldset > ul > li:nth-child(7) > label:nth-child(2),
body > div#container > form > fieldset > ul > li:nth-child(7) > label:nth-child(4),
body > div#container > form > fieldset > ul > li:nth-child(7) > label:nth-child(6),
body > div#container > form > fieldset > ul > li:nth-child(7) > label:nth-child(8) 
{
	border: solid 0px black;
	font-size: 12pt;
}

/* 대괄호[]는 속성값!! id, type 이 속성. 자바스크립트에서 태그는 모두 객체로 본다. */

label[for="female"] {
 /*	color: red; */
	margin-left: 3%; 
}

input[type="checkbox"] {
	margin-right: 3%;
}


body > div#container > form > fieldset > ul > li > select {
	width: 12%;
}


body > div#container > form > fieldset > ul > li:nth-child(8) > select
body > div#container > form > fieldset > ul > li:nth-child(10) > select 
{
	height: 30px;
}


input[type="submit"] {
	background: navy;
}


input[type="reset"]{
	background: red;
}


div#container > form > fieldset > ul > li:last-child > input {
	width: 70px;
	height: 30px;
	color: white;
	font-size: 16pt;
	border: none;
	padding: 3px;
	margin: 2% 3% 0 0;
}


label[for= "registerComment"] {
 /*	border: solid 1px red !important; */
	position: relative;
	top: -50px;
}

body > div#container > form > fieldset > ul > li:nth-child(9) > label {
	position: relative;
	top: -25px;
}

select option {
	font-size: 16pt;	
}

select > option {
	color: red;	
}










