@charset "UTF-8";

body {
	
	font-family: Arial, "MS Trebuchet", sans-serif;
	
	border: solid 0px gray;
	
	word-break: break-all;
	/* 공백없이 영어로만 되어질 경우 해당 구역을 빠져나가므로 이것을 막기 위해서 사용한다. */ 
	
	
	/* == 여백 설정하기 == */
	/* == margin 은 바깥여백 이다. == */
    /* margin: 100px 100px 50px 20px; 상 우 하 좌 */
	/* margin: 100px 50px; 상 하 100px을 주고, 우 좌는 50px 준 것 */
	/* margin: 50px; 상우하좌 모두 50px 준 것	 */
	margin: 0; /* 바깥여백을 없는 것으로 하겠다. */
	
	
	/* == padding 은 안쪽여백 이다. == */
	/* padding: 100px 100px 50px 20px; 상 우 하 좌 */
	/* padding: 100px 50px; 상 하 100px을 주고, 우 좌는 50px 준 것 */
	/* padding: 50px; 상우하좌 모두 50px 준 것	 */
	padding: 0; /* 안쪽여백을 없는 것으로 하겠다. */
}

div#container {
	border:solid 0px navy;
	width: 80%;
	margin: 2% auto; /* 상하는 2% 우좌는 남은 20%에서 좌우로 1/2씩 균등하게 주겠다. 즉, 화면의 가운데로 위치하겠다는 말이다. */
	
}

div#container > div#header {
	border:solid 0px #ccf5ff;
	height: 100px;
	background-color: #ddd;
	margin-top: 50px;    /* margin 50px 0 0 0 과 같은 것 */
	/* margin-right: 50px;  margin 0 50px 0 0 과 같은 것
	margin-bottom: 50px; margin 0 0 50px 0 과 같은 것
	margin-left: 50px;   margin 0 0 0 50px 과 같은 것 */
}

div#container > div.custom {
	display: inline-block;
	height: 400px;
}

div#container > div#side {
	border:solid 0px green;
	width: 30%;
	background-color: #888;
	
	padding: 10px 10px 10px 20px;
}

div#container > div#contents {
	border:solid 0px orange;
	width: 64.8%;
	background-color: #eee;
	
	padding: 10px 10px 10px 30px;
}

div#container > div#footer {
	border: solid 0px purple;
	height: 100px;
	background-color: #ddd;
	
	/* padding: 50px 0 0 500px; */
}

div#container > div#header > div {
	border: solid 0px blue;
	padding: 3% 0 0 20%;
}

div#container > div#header > div > span {
	display: inline-block;
	border: solid 0px #ff1ab3;
	width: 12%;
	height: 30px;
	background-color: #ffe066;
	font-size: 14pt;
	text-align: center;
	padding-top: 0.45%;
	margin: 0 5% 0 0;
}

div#container > div#footer > div {
	border: solid 0px #ff1ab3;
	width: 28.5%;
	margin: 0 auto;
	padding-top: 30px;
}






