@charset "UTF-8";

/* 360px 이하 */  /* 일반적으로 휴대폰 세로 */
@media screen and (max-width: 360px){
	h1{color: red;}
	ul{
		list-style-type: none;
	}	
}

/* 361px ~ 767px 이하 */  /* 일반적으로 휴대폰 가로 */
@media screen and (min-width: 361px) and (max-width: 767px){
	h1{color: blue;}
	ul{
		list-style-type: none;
	}
	ul > li {
		display: inline;
		background-color: skyblue;
	}	
}

/* 768px ~ 1023px 이하 */  /* 일반적으로 태블릿 PC 세로 */
@media screen and (min-width: 768px) and (max-width: 1023px){
	h1{color: green;}
	ul{
		list-style-type: none;
	}	
}

/* 1024px 이상 */  /* 일반적으로 태블릿 PC 가로 및 일반적으로 데스크탑 PC */
@media screen and (min-width: 1024px){
	h1{color: red;
	   background-color: yellow;
	}
	ul{
		list-style-type: none;
	}
	ul > li {
		display: inline;
		background-color: navy;
		color: white;
	}	
}





